# Node.js dependencies
node_modules/

# pnpm-related files
.pnpm-debug.log*
pnpm-lock.yaml

# Build directories
dist/
build/
out/

# Temporary files
*.log
*.tmp
*.temp
*.cache
*.pid
*.gz
*.zip

# Editor and IDE settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
